body {
    background-color: #81C6E8;
    font-family: 'Comfortaa', cursive;
}
.profile-container {
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    border: 1px solid grey;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.profile-picture {
    border-radius: 50%;
}
.profile-status-pragraph {
    display: inline-block;
    background-color: gray;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 15%;
}
.profile-name-pragraph {
    display: inline-block;
    font-size: 20px;
}
.bi {
    padding: 0px 7px 0px 7px;
}
.profile-manage {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    column-gap: 0px;
}
.message-btn{
    position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #3289C8;
  background-color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  cursor: pointer;
}
.message-btn:hover {
    background-color:#3289C8 ;
    color: white;
}
.contact-btn{
    position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #3289C8;
  background-color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  cursor: pointer;
}
.contact-btn:hover {
    background-color:#3289C8 ;
    color: white;
}

    
@media screen and (min-width:375px) {
    .profile-container {
        width: 90%;
    }
}
@media screen and (min-width:1024px) {
    .profile-container {
        width: 50%;
    }
}
