body{
    font-family: Arial, Helvetica, sans-serif
}

.title {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    margin-top: 1.2em;
    font-size: 2.5em;
}
.R {
    font-size: 1.5em;
    background: -webkit-linear-gradient(#5CBEE5, #0c59dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.P {
    font-size: 1.5em;
    background: -webkit-linear-gradient(#E8504D, #c61313);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.S {
    font-size: 1.5em;
    background: -webkit-linear-gradient(#FBAF09, #e1cc0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .resultBox{
   display: grid;
   grid-template-columns: repeat(2, auto);
   column-gap: 50px;
  }
  .resultBox > div{
 margin: auto;
  }
.p1Name, .p2Name{
    text-align: center;
    font-size: 2em;
}
  .p1Choose, .p2Choose{
    width: 300px;
  }
  .chooseBox{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 33.3px;
  }
  .chooseRock{
    border: none;
    color: white;
    background-image: linear-gradient(to right,#5CBEE5, #0c59dd);
    border-radius: 50px;
    font-size: 2em;
    cursor: pointer;
  }
  .choosePaper{
    border: none;
    color: white;
    background-image: linear-gradient(to right,#E8504D, #c61313);
    border-radius: 50px;
    font-size: 2em;
    cursor: pointer;
  }
  .chooseScissors{
    border: none;
    color: white;
    background-image: linear-gradient(to right,#FBAF09, #e1cc0f);
    border-radius: 50px;
    font-size: 2em;
    cursor: pointer;
  }